#INI gw coba Y
SECRET_KEY=agiva-super-secret-key-2026
PORT=5000
FLASK_ENV=development

# Database PostgreSQL cntoh ea
DATABASE_URL=postgresql://postgres:password@localhost:5432/agiva_noc_db

# Telegram Bot Alerting & Commands
TELEGRAM_BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRstuVWXyz
NOC_TELEGRAM_CHAT_ID=-1001234567890

# Polling & Backup APScheduler Config
POLLING_INTERVAL_MINUTES=2
BACKUP_CRON_HOUR=2
BACKUP_CRON_MINUTE=0
