--
-- PostgreSQL database dump
--

\restrict hty0wri4hfkigPHhu2bszT8IkaBMJpotyFR41FNNE1zREalXYdER7pspXitbrJd

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alerts (
    alert_id integer NOT NULL,
    device_id integer NOT NULL,
    type character varying(50) NOT NULL,
    severity character varying(20),
    message text NOT NULL,
    triggered_at timestamp without time zone NOT NULL,
    acknowledged boolean,
    acknowledged_by character varying(100),
    resolved_at timestamp without time zone
);


ALTER TABLE public.alerts OWNER TO postgres;

--
-- Name: alerts_alert_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alerts_alert_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alerts_alert_id_seq OWNER TO postgres;

--
-- Name: alerts_alert_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alerts_alert_id_seq OWNED BY public.alerts.alert_id;


--
-- Name: backup_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.backup_history (
    backup_id integer NOT NULL,
    device_id integer NOT NULL,
    "timestamp" timestamp without time zone NOT NULL,
    file_path text NOT NULL,
    file_size character varying(50),
    status character varying(20) NOT NULL
);


ALTER TABLE public.backup_history OWNER TO postgres;

--
-- Name: backup_history_backup_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.backup_history_backup_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.backup_history_backup_id_seq OWNER TO postgres;

--
-- Name: backup_history_backup_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.backup_history_backup_id_seq OWNED BY public.backup_history.backup_id;


--
-- Name: device_status_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_status_logs (
    log_id bigint NOT NULL,
    device_id integer NOT NULL,
    "timestamp" timestamp without time zone NOT NULL,
    status character varying(20) NOT NULL,
    cpu_usage double precision,
    mem_usage double precision,
    traffic_mbps double precision
);


ALTER TABLE public.device_status_logs OWNER TO postgres;

--
-- Name: device_status_logs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.device_status_logs_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.device_status_logs_log_id_seq OWNER TO postgres;

--
-- Name: device_status_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.device_status_logs_log_id_seq OWNED BY public.device_status_logs.log_id;


--
-- Name: devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices (
    device_id integer NOT NULL,
    name character varying(100) NOT NULL,
    ip_address character varying(45) NOT NULL,
    vendor character varying(50) NOT NULL,
    site character varying(100) NOT NULL,
    status character varying(20),
    cpu_usage double precision,
    mem_usage double precision,
    traffic_mbps double precision,
    uptime character varying(100),
    credential_ref character varying(100),
    last_polled timestamp without time zone
);


ALTER TABLE public.devices OWNER TO postgres;

--
-- Name: devices_device_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.devices_device_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.devices_device_id_seq OWNER TO postgres;

--
-- Name: devices_device_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.devices_device_id_seq OWNED BY public.devices.device_id;


--
-- Name: telegram_message_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telegram_message_logs (
    id integer NOT NULL,
    alert_id integer,
    chat_id character varying(50) NOT NULL,
    message_type character varying(50) NOT NULL,
    content text NOT NULL,
    status character varying(20),
    sent_at timestamp without time zone
);


ALTER TABLE public.telegram_message_logs OWNER TO postgres;

--
-- Name: telegram_message_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telegram_message_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telegram_message_logs_id_seq OWNER TO postgres;

--
-- Name: telegram_message_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telegram_message_logs_id_seq OWNED BY public.telegram_message_logs.id;


--
-- Name: telegram_whitelist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telegram_whitelist (
    id integer NOT NULL,
    chat_id character varying(50) NOT NULL,
    telegram_username character varying(100) NOT NULL,
    engineer_name character varying(150) NOT NULL,
    role character varying(80),
    is_active boolean,
    registered_at timestamp without time zone
);


ALTER TABLE public.telegram_whitelist OWNER TO postgres;

--
-- Name: telegram_whitelist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telegram_whitelist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telegram_whitelist_id_seq OWNER TO postgres;

--
-- Name: telegram_whitelist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telegram_whitelist_id_seq OWNED BY public.telegram_whitelist.id;


--
-- Name: alerts alert_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts ALTER COLUMN alert_id SET DEFAULT nextval('public.alerts_alert_id_seq'::regclass);


--
-- Name: backup_history backup_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backup_history ALTER COLUMN backup_id SET DEFAULT nextval('public.backup_history_backup_id_seq'::regclass);


--
-- Name: device_status_logs log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_status_logs ALTER COLUMN log_id SET DEFAULT nextval('public.device_status_logs_log_id_seq'::regclass);


--
-- Name: devices device_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices ALTER COLUMN device_id SET DEFAULT nextval('public.devices_device_id_seq'::regclass);


--
-- Name: telegram_message_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_message_logs ALTER COLUMN id SET DEFAULT nextval('public.telegram_message_logs_id_seq'::regclass);


--
-- Name: telegram_whitelist id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_whitelist ALTER COLUMN id SET DEFAULT nextval('public.telegram_whitelist_id_seq'::regclass);


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alerts (alert_id, device_id, type, severity, message, triggered_at, acknowledged, acknowledged_by, resolved_at) FROM stdin;
\.


--
-- Data for Name: backup_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.backup_history (backup_id, device_id, "timestamp", file_path, file_size, status) FROM stdin;
\.


--
-- Data for Name: device_status_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.device_status_logs (log_id, device_id, "timestamp", status, cpu_usage, mem_usage, traffic_mbps) FROM stdin;
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.devices (device_id, name, ip_address, vendor, site, status, cpu_usage, mem_usage, traffic_mbps, uptime, credential_ref, last_polled) FROM stdin;
\.


--
-- Data for Name: telegram_message_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: telegram_whitelist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.telegram_whitelist (id, chat_id, telegram_username, engineer_name, role, is_active, registered_at) FROM stdin;
1	-1004429503436	@Agiva_Network_Automation_Bot	Agiva Network Automation Channel	Broadcast Group	t	2026-10-09 12:53:47.755334
2	5419251159	@darasamsara	Dara Samsara	Admin	t	2026-10-09 12:53:47.755334
\.


--
-- Name: alerts_alert_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alerts_alert_id_seq', 1, false);


--
-- Name: backup_history_backup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.backup_history_backup_id_seq', 1, false);


--
-- Name: device_status_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.device_status_logs_log_id_seq', 1, false);


--
-- Name: devices_device_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.devices_device_id_seq', 1, false);


--
-- Name: telegram_message_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telegram_message_logs_id_seq', 13, true);


--
-- Name: telegram_whitelist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.telegram_whitelist_id_seq', 2, true);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (alert_id);


--
-- Name: backup_history backup_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backup_history
    ADD CONSTRAINT backup_history_pkey PRIMARY KEY (backup_id);


--
-- Name: device_status_logs device_status_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_status_logs
    ADD CONSTRAINT device_status_logs_pkey PRIMARY KEY (log_id);


--
-- Name: devices devices_ip_address_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_ip_address_key UNIQUE (ip_address);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (device_id);


--
-- Name: telegram_message_logs telegram_message_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_message_logs
    ADD CONSTRAINT telegram_message_logs_pkey PRIMARY KEY (id);


--
-- Name: telegram_whitelist telegram_whitelist_chat_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_whitelist
    ADD CONSTRAINT telegram_whitelist_chat_id_key UNIQUE (chat_id);


--
-- Name: telegram_whitelist telegram_whitelist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_whitelist
    ADD CONSTRAINT telegram_whitelist_pkey PRIMARY KEY (id);


--
-- Name: alerts alerts_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(device_id) ON DELETE CASCADE;


--
-- Name: backup_history backup_history_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backup_history
    ADD CONSTRAINT backup_history_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(device_id) ON DELETE CASCADE;


--
-- Name: device_status_logs device_status_logs_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_status_logs
    ADD CONSTRAINT device_status_logs_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(device_id) ON DELETE CASCADE;


--
-- Name: telegram_message_logs telegram_message_logs_alert_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_message_logs
    ADD CONSTRAINT telegram_message_logs_alert_id_fkey FOREIGN KEY (alert_id) REFERENCES public.alerts(alert_id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict hty0wri4hfkigPHhu2bszT8IkaBMJpotyFR41FNNE1zREalXYdER7pspXitbrJd

